<div class="row" id="TituloSobre">
    <div class="col-md-12 sobrecomud">
        <h1>EQUIPE COMUD</h1>
    </div>
</div>
<div class="row centralizar">

    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner" id="adrian">
                <div class="flip-card-front">
                    <img src="../../../assets/imagensSobre/Adrian.jpg" alt="">
                    <h4>Adrian Ferreira</h4>
                </div>
                <div class="flip-card-back ">
                    <p>Sou entusiasta da tecnologia e acredito no
                        potencial dela para mudar o mundo. Desde
                        pequeno, incentivado pela minha mãe, olho para
                        o futuro com muita expectativa nessa área.
                        Sou persistente, comunicativo e amante do
                        aprendizado.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner" id="aline">
                <div class="flip-card-front ">
                    <img src="../../../assets/imagensSobre/F19A2177.jpg" alt="">
                    <h4>Aline Távora</h4>
                </div>
                <div class="flip-card-back">
                    <p>Desde pequena descubro o mundo através do computador. Cursei técnico em Computação
                        Gráfica, tecnólogo em Análise e Dev. de Sistemas e tive a oportunidade de participar do
                        bootcamp Dev. Full-Stack Java Jr. Quero proporcionar oportunidades para outras
                        pessoas.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner" id="luma">
                <div class="flip-card-front">
                    <img src="../../../assets/imagensSobre/Luma.jpg" alt="">
                    <h4>Luma Canuto</h4>
                </div>
                <div class="flip-card-back">
                    <p>
                        Luma vivenciou muita desigualdade e desperdício. Após muita reflexão e questionamento,
                        decidiu mudar a sua profissão para Dev. Web Java Jr onde encontrou na COMUD sua garra e
                        forma de mudar o mundo, uma mudança de cada vez.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row centralizar">
    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner " id="matheus">
                <div class="flip-card-front ">
                    <img src="../../../assets/imagensSobre/F19A2255.jpg" alt="">
                    <h4>Matheus Matiusch</h4>
                </div>
                <div class="flip-card-back ">
                    <p>Como Dev Web Java Jr., tenho como objetivo transformar a vida de pessoas e empresas,
                        melhorando e facilitando seus processos/atividades através da tecnologia. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 margem">
        <div class="flip-card mx-auto">
            <div class="flip-card-inner " id="stef">
                <div class="flip-card-front ">
                    <img src="../../../assets/imagensSobre/stef.png" alt="">
                    <h4>Stefany Pedrosa</h4>
                </div>
                <div class="flip-card-back">
                    <p>Sendo Dev. Web Java Jr, acredito no poder da informação, do conhecimento e da ajuda ao
                        próximo. Buscando estar atualizada e aprender ao máximo em experiências e convivências
                        diárias.</p>
                </div>
            </div>
        </div>
    </div>
</div>