*{
    margin:0%;
    padding:0%;
}

#formulario{
    width: 70%;
    margin:auto;
}
label{
    font-family: 'Mukta', sans-serif;
    font-size:14px;
    color:rgb(167, 167, 167);
    margin-bottom: 0%;
    margin-top:2%;
}
textarea{
    resize: none;
}
span{
    font-size:12px;
    color:red;
}
.btn{
    width: 65px;
    background-color: #059faa;
    margin-top:3%;
    color:#dedcc5;
}
.btn-outline{
    width: 65px;
    height: 40px;
    color:#dedcc5;
    border-color:#dedcc5;
}
.btn-outline:hover{
    color:#059faa;
    background-color: #dedcc5;
    border-color:#dedcc5;
}
#enviar{
    margin-top: 10%;
    padding-top: 10%;
    font-size:20px;
    margin-left: 3.5%;
    color:#056e75;
}
#erro{
    margin-top: 10%;
    padding-top: 10%;
    font-size:20px;
    margin-left: 3.5%;
    color:red;
}
#titulo h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:#059faa;
}
#titulo{
    margin-top: 5%;
    margin-bottom: 3%;
}