<div class="info">
    <h4>São Paulo - SP</h4>
    <p>Avenida General Ataliba Leonel, nº 245<br>
        Santana | CEP: 02033-000</p>
    <p>(11)3333-3333 / (11) 98888-8888</p>
    <p>contato@comud.com.br</p>
</div>
<div class="container">
    <div class="card" id="card">
        <div class="card-body">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.7193802171487!2d-46.62662868554452!3d-23.506615065456767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef6283c6753e7%3A0xc96724dd19a6d04b!2sInstituto%20da%20Oportunidade%20Social!5e0!3m2!1spt-BR!2sbr!4v1576802176717!5m2!1spt-BR!2sbr"
                frameborder="0" style="border:0;"></iframe>
        </div>
    </div>
</div>