<div class="row" id="CompanyValues">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <div class="imagem-valor">
            <img src="../../../assets/imagensSobre/2.png" alt="">
        </div>
        <div id="missao" class="mt-3">
            <h5>Missão</h5>
            <p>A valorização do ser humano através da sustentabilidade na moda.</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="imagem-valor">
            <img src="../../../assets/imagensSobre/3.png" alt="">
        </div>
        <div id="visao" class="mt-3">
            <h5>Visão</h5>
            <p>Consumo consciente da moda, através de doações ou trocas que os clientes
                achem justas.
            </p>
        </div>

    </div>
    <div class="col-md-2">
        <div class="imagem-valor">
            <img src="../../../assets/imagensSobre/4.png" alt="">
        </div>
        <div id="valOrg" class="mt-3">
            <h5>Valores</h5>
            <p>Integridade,
                Responsabilidade Social e Sustentabilidade
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="imagem-valor">
            <img src="../../../assets/imagensSobre/5.png" alt="">
        </div>
        <div id="PolFret" class="mt-3">
            <h5>Política de Frete</h5>
            <p>A COMUD não se responsabiliza pela fretagem do produto ou possiveis trocas dos mesmos.</p>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>