<div class="row" id="titulo">
    <div class="col-md-12">
        <h1>DOANDO</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="mt-2" id="formulario">
                <div class="form-group">
                    <label for="ong">ONG</label>
                    <input type="text" class="form-control" id="ong"
                        placeholder="Digite o id da ONG que receberá sua doação" [(ngModel)]="doacao.ong.idONG"
                        (click)="limpaEnviar()" maxlength="3" required>
                    <span *ngIf='_msgErroO'>{{_msgErroO}}</span>
                </div>

                <div class="form-group">
                    <label for="produto">Quero doar</label>
                    <input type="text" class="form-control" id="produto" [(ngModel)]="doacao.produto.idProduto"
                        placeholder="Digite o código do seu produto" (click)="limpaEnviar()" maxlength="3" required>
                    <span *ngIf='_msgErroP'>{{_msgErroP}}</span>
                </div>

                <button type="submit" class="btn btn-outline mt-2" (click)="validacao()">DOAR</button>
                <span id="enviar" *ngIf='_msgEnviar'><strong>{{_msgEnviar}}</strong></span>
                <span id="erro" *ngIf='_msgErro'><strong>{{_msgErro}}</strong></span><br>
                <span id="doacao" *ngIf='_msgDoacao'>obs: Mais informções sobre sua doação serão encaminhadas para seu email.</span>
                
            </div>
        </div>
    </div>
</div>