<div class="row">
    <div class="col-md-12 mt-5 mb-4">
        <h1>Precisa de ajuda? Sem problemas!</h1>
    </div>
</div>

<div class="row mt-3 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="accordion">

            <div class="card mb-2">
                <div class="card-header ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse1">
                        <h4>Por que não posso vender?</h4>
                    </a>
                </div>
                <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>A iniciativa <b>COMUD</b> se baseia em moda e desenvolvimento sustentável, ou seja, não visa
                            lucros ou benefício próprio em nenhum momento. O intuito em si é de gerar
                            <b>CO</b>nsciência de pensamentos consumistas e a <b>MU</b>dança e transformação de acúmulos
                            em felicidade, não em aquisição de bens.</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse2">
                        <h4>Como doar?</h4>
                    </a>
                </div>
                <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Para <b>D</b>oar é necessário ter um cadastro ativo para então, cadastrar os produtos que
                            quer doar. Podes também escolher se quer doar à uma instituição específica parceira da
                            <b>COMUD</b>, à alguma ação específica ou mesmo escolher contatar a ONG diretamente.</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse3">
                        <h4>Como trocar?</h4>
                    </a>
                </div>
                <div id="collapse3" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Para mudar e desacumular, é necessário ter cadastro ativo. Uma vez que tenha configurado sua
                            conta, pode configurar seu varal de exposição dos acúmulos para que pessoas interessadas
                            façam ofertas e lances de troca com o que estes possuem em seu próprio varal. Você pode
                            também visitar a página de varal de outras pessoas e ofertar caso ame e queria deixar aquele
                            acúmulo feliz novamente. (:</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse4">
                        <h4>Como me cadastro?</h4>
                    </a>
                </div>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Para se cadastrar é só clicar no botão de <em>“Login”</em> no canto superior direito de toda
                            página. Nessa nova página, haverá um botão para que se cadastre e comece a mudar! </p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse5">
                        <h4>Como cadastro minhas roupas?</h4>
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Para cadastrar seus desapegos você precisa preencher as informações específicas dele – como
                            condição e tipo de roupa – para que assim outras pessoas querendo mudar os encontrem mais
                            facilmente. E claro, não pode faltar aquelas fotinhos para valorizar esse acúmulo e ele ter
                            mais chances de encontrar uma nova casinha!</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse6">
                        <h4>Como contato a pessoa com quem troquei?</h4>
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Assim que você solicitar uma troca (ou vice-versa) será iniciada uma conversa com o outro
                            usuário via chat, para que então possam analisar se essa mudança será boa para ambos! Assim
                            que firmarem a troca, podem combinar de se encontrarem pessoalmente – <em>sempre</em> em
                            <u>locais públicos</u>, hein? – Ou então podem optar pelo sistema de frete, como preferirem
                            e for melhor para vocês!</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse7">
                        <h4>Como é calculado o frete e/ou o prazo?</h4>
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Primordialmente, o papel da <b>COMUD</b> é gerar consciência e conectar os interessados em
                            mudança! Por isso, os custos de frete são arcados e de total responsabilidade dos
                            <u>usuários</u>. Mas claro, nunca te deixaríamos na mão; O sistema gerará a declaração de
                            conteúdo necessária para postagem nos correios, porém:<br>
                            <b>Frete:</b> O frete tem seu valor baseado na tabela dos Correios, de acordo com peso e
                            tamanho.<br>
                            <b>Prazo:</b> O tempo de entrega pode variar juntamente com a distância entre os trocadores,
                            situações específicas e ocasionais dos Correios.</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse8">
                        <h4>Não recebi minha troca, e agora?</h4>
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p>Os Correios entregam o produto no endereço de destinatário cadastrado no momento da postagem,
                            de acordo com o prazo e condições estipulado pelos mesmos. Verifique se alguém próximo, como
                            um familiar, amigo ou vizinho, recebeu por você em tal endereço ou cheque com os Correios
                            qual a situação do envio.</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse9">
                        <h4>Quer cancelar, desistir ou devolver a troca?</h4>
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p><b>Cancelar:</b> Para cancelar uma troca que já foi combinada, há uma seção específica na
                            seção “Suas trocas” em sua página de perfil. Lembre-se de contatar seu companheiro de troca
                            previamente para que ele não tenha enviado a parte dele ainda.<br>
                            <b>Desistir:</b> Para caso já postada a troca e você ainda assim queira desistir, o contato
                            deve ser feito aos Correios para tomarem as providências e quem arcará com o frete de
                            cancelamento será o usuário que efetuou a desistência.<br>
                            <b>Devolver:</b> Caso a troca já tenha chego em seu local, tenha também a <b>CO</b>nsciência
                            de a devolver! Até mesmo na <b>COMUD</b> há consequências.</p>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse10">
                        <h4>Problemas com cadastro/conta/senha?</h4>
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        <p><b>Cadastro:</b> Caso seu cadastro não seja efetuado, haverá um <em>“span”</em> com a
                            mensagem dizendo qual foi o motivo do erro, como <em>“Dado inválido”</em>, podendo ser um
                            e-mail inválido ou já cadastrado, nome ou telefone inválidos. Assim como a falta de
                            preenchimento de algum campo não efetuará um cadastro.<br>
                            <b>Conta e senha:</b> Caso esqueça seu nome de usuário, e-mail vinculado ou senha da conta,
                            há um campo específico na página de <em>“Login”</em> para recuperação da conta. Há também a
                            opção de <em>“Receber Suporte”</em> abaixo caso não se resolva.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<hr>
<app-form-faq> </app-form-faq>