<div class="row t">
    <div class="col-md-8 my-auto" id="parallax">
        <h1 class="mb-4" id="tituloD">A importancia da doação</h1>
        <p>Doar agasalhos também tem a capacidade de fazer com que o indivíduo se sinta mais humano. Afinal, todos sabem
            como é desagradável sentir frio, além dos males à saúde.</p>
        <p> Dessa maneira, é certo que fazer a doação dessas roupas fará com que o doador sinta que está tendo utilidade
            para outra pessoa alcançar o bem-estar.</p>
        <button type="button" class="btn btn-info py-2 d-flex justify-content-around mx-auto"
            [routerLink]="'/consultaongs'">Conheça nossas ONGs parceiras</button>
    </div>
    <div class="col-md-4" id="bola">
        <img class="img-fluid" src="../../../assets/imagensHome/giphyHome.gif" alt="">
    </div>
</div>


<div class="row d">
    <div class="col-md-4" id="bola2">
        <img class="img-fluid" src="../../../assets/imagensHome/carrinhoFinal.gif">
    </div>
    <div class="col-md-8 my-auto" id="parallax">
        <h1 class="mb-4">A consciência da troca</h1>
        <p>Quem nunca chegou em casa com uma peça nova e descobriu que já tinha uma idêntica, que estava esquecida no
            meio da bagunça? Provavelmente, seu dinheiro teria sido mais bem empregado em uma peça inédita.</p>

        <p>Ao se desfazer dos excessos, você vai ter mais consciência sobre os itens que você tem, evitando que você
            adquira peças repetidas ou deixe de usar suas roupas e acessórios simplesmente por ter esquecido que eles
            existiam.</p>

        <p>Ao se desfazer daquilo que não combina mais com o seu momento atual, você vai renovar as energias do seu
            guarda-roupa e do seu quarto, e isso certamente vai se refletir no seu estado de espírito. Abra espaço para
            que os novos ares cheguem até você.</p>

        <button type="button" class="btn btn-info py-2 mx-auto d-flex justify-content-around"
            [routerLink]="'/produto'">Veja os produtos disponíveis</button>
    </div>
</div>