*{
    margin:0%;
    padding:0%;
}
#titulo h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:#059faa;
}
#titulo{
    margin-top: 5%;
    margin-bottom: 3%;
}
img{
    width: 100%;
    height: 100%;
}
#style{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-top: 100%;
      width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
      }
    }