<h1 class="mt-5 mb-5">Ainda com dúvidas? Deixa com a gente.</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5>Como ser parceiro:</h5>
            <p class="mb-4">
                A COMUD preza muito pela integridade e intenção das instituições que apoia. Se deseja realizar
                parcerias, podemos conversar melhor selecionando a opção "Como ser Parceiro"!
            </p>
            <h5>Fazer uma denúncia:</h5>
            <p class="mb-4">
                Caso tenha sido lesade, mal-tratade e/ou discriminade aqui ou em algum ambiente COMUD, não
                hesite em nos contatar imediatamente selecionando "Fazer uma denúncia" para que tomemos as
                devidas e legais providências.
            </p>
            <h5>Indicações de ONGs</h5>
            <p class="mb-4">
                Faz parte, colabora ou conhece alguma ONG que tem tudo a ver ou que precise da ajuda da COMUD?
                Adoraremos saber em "Sobre ONGs" e mal pode esperar para espalhar e aumentar a
                comunidade COMUD!
            </p>
            <h5>Quer voluntariar nas ONGs parceiras?</h5>
            <p class="mb-4">
                Na página “Doar” há campos de contatos com as ONGs parceiras e acredite, ajuda nunca é demais
                nesse movimento de mudança, qualquer energia importa!
            </p>
            <h5>Receber suporte</h5>
            <p>
                Notou alguma “tracinha” ou bichinho estranho, algo diferente, fora do lugar ou que até sumiu de nosso
                site?
                Avisa para a gente em "Receber suporte" que nossa equipe poderá resolver assim que possível.
            </p>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-around">
                    <button class="btn btn-outline mt-5" [routerLink]="'/contatos'">Contate-nos!</button>
                </div>
            </div>
        </div>
    </div>
</div>