<div class="container">
    <div class="row" id="titulo">
        <div class="col-md-12">
            <h1>Entre em contato conosco</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <app-contatos></app-contatos>
                </div>
                <div class="col-md-4">
                    <app-infos></app-infos>
                </div>
            </div>
        </div>
    </div>
</div>