*{
    margin:0%;
    padding:0%;
}
#titulo h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:#059faa;
}
#titulo{
    margin-top: 15%;
    margin-bottom: 3%;
}

