<div class="row sobrecomud">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 justify-content" id="TextoPrincipal">
        <h1>SOBRE O PROJETO</h1>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;A iniciativa <b>COMUD</b> (COnsciência, MUdança e Doação), partiu da
            problemática do consumismo de roupas presente na nossa sociedade, onde
            muitas pessoas compram inúmeras peças para usar apenas uma vez, ou nem
            mesmo vestirem.
            &nbsp;&nbsp;Na <b>COMUD</b> é possível o desapego de peças que você não quer mais
            trocando por outras que você prefira ou as doando para aquelas pessoas que
            estão precisando, ONG’s, orfanatos ou iniciativas de assistência humana.</p>
    </div>
    <div class="col-md-2">
    </div>
</div>